{% extends 'base.html' %}

{% block content %}

<h2>Operações BMF:</h2>
<table class="table">
    <tr>
        <th>Nota:</th>
        <th>Data:</th>
        <th>Folha:</th>
        <th>C/V:</th>
        <th>Mercadoria:</th>
        <th>Vencimento:</th>
        <th>Quantidade:</th>
        <th>Preço/Ajuste:</th>
        <th>Tipo negócio:</th>
        <th>Valor da operação:</th>
        <th>D/C:</th>
        <th>Taxa operacional:</th>
    </tr>
    {% for operação in operações %}
    <tr>
        <td>{{ operação.folhas_bmf.notas_bmf.nr_nota }}</td>
        <td>{{ operação.folhas_bmf.notas_bmf.data_pregão }}</td>
        <td>{{ operação.folhas_bmf.folha }}</td>
        <td>{{ operação.cv}}</td>
        <td>{{ operação.mercadoria }}</td>
        <td>{{ operação.vencimento }}</td>
        <td>{{ operação.quantidade }}</td>
        <td>R$ {{ operação.preço_ajuste }}</td>
        <td>{{ operação.tipo_negócio }}</td>
        <td>R$ {{ operação.valor_operação }}</td>
        <td>{{ operação.dc }}</td>
        <td>R$ {{ operação.taxa_operacional }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}