{% extends 'base.html' %} {% block content %}

<h2>Resumo BMF:</h2>
<table class="table">
  <tr>
    <th>Nota:</th>
    <th>Data:</th>
    <th>Valor dos negócios:</th>
    <th>IRRF Day Trade (proj.):</th>
    <th>Taxa operacional:</th>
    <th>Taxa registro BM&F:</th>
    <th>Taxas BM&F (emol+f.gar):</th>
    <th>I.S.S:</th>
    <th>Ajuste de posição:</th>
    <th>Ajuste day trade:</th>
    <th>Total das despesas:</th>
    <th>Total líquido da nota:</th>
  </tr>
  {% for nota in notas %}
  <tr>
    <td>{{ nota.nr_nota }}</td>
    <td>{{ nota.data_pregao }}</td>
    <td>{{ nota.valor_negocios }}</td>
    <td>{{ nota.irrf }}</td>
    <td>{{ nota.irrf_day_trade_proj }}</td>
    <td>{{ nota.taxa_operacional }}</td>
    <td>{{ nota.taxa_registro_bmf }}</td>
    <td>{{ nota.ajuste_posicao }}</td>
    <td>{{ nota.ajuste_day_trade }}</td>
    <td>{{ nota.total_despesas }}</td>
    <td>{{ nota.total_liquido_nota }}</td>

  </tr>
  {% endfor %}
</table>
{% endblock %}
