{% extends 'base.html' %}

{% block content %}

<h2>Resumo BMF:</h2>
<table class="table">
    <tr>
        <th>Nota:</th>
        <th>Folhas:</th>
        <th>Data:</th>
        <th>Valor dos negócios:</th>
        <th>IRRF Day Trade (proj.):</th>
        <th>Taxa operacional:</th>
        <th>Taxa registro BM&F:</th>
        <th>Taxas BM&F (emol+f.gar):</th>
        <th>I.S.S:</th>
        <th>Ajuste de posição:</th>
        <th>Ajuste day trade:</th>
        <th>Total das despesas:</th>
        <th>Total líquido da nota:</th>
    </tr>
    {% for folha in folhas %}
        {% if folha.total_liquido_nota != "|" %}
            <tr>
                <td>{{ folha.nota_bmf.nr_nota }}</td>
                <td>{{ folha.folha }}</td>
                <td>{{ folha.nota_bmf.data_pregão }}</td>
                <td>R$ {{ folha.valor_negocios }}</td>
                <td>R$ {{ folha.irrf_day_trade_proj }}</td>
                <td>R$ {{ folha.taxa_operacional }}</td>
                <td>R$ {{ folha.taxas_bmf }}</td>
                <td>R$ {{ folha.taxa_registro_bmf }}</td>
                <td>R$ {{ folha.impostos }}</td>
                <td>R$ {{ folha.ajuste_posicao }}</td>
                <td>R$ {{ folha.ajuste_day_trade }}</td>
                <td>R$ {{ folha.total_despesas }}</td>
                <td>R$ {{ folha.total_liquido_nota }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
{% endblock %}