{% extends 'base.html' %} {% block content %}

<h2>Operações Bovespa:</h2>
<table class="table">
  <tr>
    <th>Nota:</th>
    <th>Data:</th>
    <th>Folha:</th>
    <th>C/V:</th>
    <th>Tipo:</th>
    <th>Titulo:</th>
    <th>Quantidade:</th>
    <th>Preco:</th>
  </tr>
  {% for operacao in operacoes %}
  <tr>
    <td>{{ operacao.folha_bovespa.nota_bovespa.nr_nota }}</td>
    <td>{{ operacao.folha_bovespa.nota_bovespa.data_pregao }}</td>
    <td>{{ operacao.folha_bovespa.folha }}</td>
    <td>{{ operacao.cv }}</td>
    <td>{{ operacao.tipo_mercado }}</td>
    <td>{{ operacao.especificacao_titulo }}</td>
    <td>{{ operacao.quantidade }}</td>
    <td>{{ operacao.valor_operacao }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
