{% extends 'base.html' %}

{% block content %}

<h2>Operações Bovespa:</h2>
<table class="table">
    <tr>
        <th>Nota:</th>
        <th>Data:</th>
        <th>Folha:</th>
        <th>C/V:</th>
        <th>Tipo:</th>
        <th>Titulo:</th>
        <th>Quantidade:</th>
        <th>Preço:</th>
        <th>Valor da operação:</th>
        <th>D/C:</th>
    </tr>
    {% for operação in operações %}
        <tr>
            <td>{{ operação.folhas_bovespa.notas_bovespa.nr_nota }}</td>
            <td>{{ operação.folhas_bovespa.notas_bovespa.data_pregão }}</td>
            <td>{{ operação.folhas_bovespa.folha }}</td>
            <td>{{ operação.cv }}</td>
            <td>{{ operação.tipo_mercado }}</td>
            <td>{{ operação.especificação_título }}</td>
            <td>{{ operação.quantidade }}</td>
            <td>{{ operação.preço_ajuste }}</td>
            <td>{{ operação.valor_operação }}</td>
            <td>{{ operação.dc }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}