{% extends 'base.html' %} {% block content %}

<h2>Resumo Bovespa:</h2>
<table class="table">
  <tr>
    <th>Nota:</th>
    <th>Data:</th>
    <th>Folhas:</th>
    <th>Vendas à vista:</th>
    <th>Compras à vista:</th>
    <th>Taxa de liquidação:</th>
    <th>Emolumentos:</th>
    <th>I.R.R.F:</th>
    <th>Valor:</th>
  </tr>
  {% for nota in notas %}
  <tr>
    <td>{{ nota.nr_nota }}</td>
    <td>{{ nota.data_pregao }}</td>
    <td>{{ nota.folha_bovespa }}</td>
    <td>{{ nota.vendas_vista }}</td>
    <td>{{ nota.compras_vista }}</td>
    <td>{{ nota.taxa_liquidacao }}</td>
    <td>{{ nota.emolumentos }}</td>
    <td>{{ nota.irrf }}</td>
    <td>{{ nota.liquido }}</td>
    {% endfor %}
  </tr>
</table>

{% endblock %}
