{% extends 'base.html' %}

{% block content %}

<h2>Operações BMF:</h2>
<table class="table">
    <tr>
        <th>Nr Nota:</th>
        <th>Folha:</th>
        <th>C/V:</th>
        <th>Mercadoria:</th>
        <th>Vencimento:</th>
        <th>Quantidade:</th>
        <th>Preço/Ajuste:</th>
        <th>Tipo negócio:</th>
        <th>Valor da operação:</th>
        <th>D/C:</th>
        <th>Taxa operacional:</th>
    </tr>
    {% for resultado in messages %}
    <tr>
        <td>{{ resultado.folhasbmf.notasbmf.nr_nota }}</td>
        <td>{{ resultado.folhasbmf.folha }}</td>
        <td>{{ resultado.cv }}</td>
        <td>{{ resultado.mercadoria }}</td>
        <td>{{ resultado.vencimento }}</td>
        <td>{{ resultado.quantidade }}</td>
        <td>{{ resultado.preço_ajuste }}</td>
        <td>{{ resultado.tipo_negócio }}</td>
        <td>{{ resultado.valor_operação }}</td>
        <td>{{ resultado.dc }}</td>
        <td>{{ resultado.taxa_operacional }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}